@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.footer {
  height:25vh;
  padding:2rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background-color:#161a1d;
  color:whitesmoke;

  text-align: center;
  font-family: 'Poppins', sans-serif;
  border-top: 1px solid rgba(0, 255, 231, 0.2);
}

.glow {
  font-size: 1.6rem;
  color:whitesmoke;

  font-weight: 600;
  margin-bottom: 1rem;
}

.contact {
  font-size: 0.95rem;

  margin-bottom: 1rem;
}

.contact p {
    color: #dddddd;
  margin: 0.3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

}

.copy {
  font-size: 0.8rem;
  color: #aaaaaa;
  opacity: 0.7;
}
